Authlib
icecream
crewai
crewai_tools
fastapi
gradio
itsdangerous
Jinja2
langchain
langchain_community
langchain_groq
langchain_ollama
langchain_openai
mdpdf
openai
openpyxl
pandas
passlib
pydantic
python-dotenv
Requests
starlette
unstructured
uvicorn
